import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import net.jini.url.httpmd.HttpmdUtil;

com.sun.jini.start {

	private static codebase = HttpmdUtil.computeDigestCodebase("../lib-dl", "httpmd://${classserver.host}:${classserver.port}/${classserver.path}compute-wrapped-dl.jar;md5=0");

	private static policy = "policy${/}jeri${/}compute.policy";

	private static classpath = "..${/}common${/}concurrent.jar${path.separator}lib${/}compute.jar${path.separator}..${/}common${/}ibis.jar${path.separator}..${/}common${/}log4j-1.2.9.jar${path.separator}${jgrid.classpath}${path.separator}${jini.classpath}";

	private static config = "config${/}jeri${/}transient-compute.config";

	private static http_policy = "policy${/}common${/}http.policy";
	
	static serviceDescriptors = new ServiceDescriptor[] {			
		new NonActivatableServiceDescriptor(
			codebase, policy, classpath,
			"jgrid.core.TransientServiceX",
			new String[] { config })
	};
}
