import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://${classserver.host}:${classserver.port}/${classserver.path}reggie-dl.jar http://${classserver.host}:${classserver.port}/${classserver.path}jsk-dl.jar";
    private static policy = "policy${/}reggie.policy";
    private static classpath = "..${/}common${/}reggie.jar";
    private static config = "config${/}transient-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.reggie.TransientRegistrarImpl",
	    new String[] { config })
    };
}
