import net.jini.activation.ActivationExporter;
import java.rmi.activation.ActivationID;
import com.sun.jini.reggie.RegistrarPermission;

import javax.security.auth.login.LoginContext;

import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.Integrity;
import net.jini.security.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.*;

import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;

import java.net.NetworkInterface;
import java.net.InetAddress;

com.sun.jini.reggie {
    
    initialMemberGroups = new String[] {"${reggie.groupname}"};
    initialUnicastDiscoveryPort = 0;
    persistenceDirectory = "reggie_log";
	multicastInterfaces = new NetworkInterface[] {NetworkInterface.getByInetAddress(InetAddress.getByName("${jgrid.localhost}"))};
    minMaxServiceLease = 20000;

    serverExporter = new BasicJeriExporter(
		TcpServerEndpoint.getInstance("${jgrid.localhost}", Integer.parseInt("${exporter.lookup.port}")),
		new BasicILFactory(),
		false, /*enableDGC*/
		true); /*keepAlive*/
}

net.jini.lease.LeaseRenewalManager {
    renewBatchTimeWindow = 5000;
}
