/* 
 * Access control configuration file for the ComputeService.
 * Each component name is equivalent to an access role.
 */

jgrid.guest {
	workerThreadPriority = Thread.MIN_PRIORITY;
	userPriority = 1;
}

jgrid.user {
	workerThreadPriority =  4;
	userPriority = 2;
}

compute.user {
	workerThreadPriority = 4;
	userPriority = 3;
}

compute.admin {
	workerThreadPriority = Thread.NORM_PRIORITY;
	userPriority = 10;
}
